/* Style for printing slides
 *
 * Use this style in the all.htm file to define a style for printing.
 * Add this line to the HEAD:
 *
 *   <link href="../Tools/w3ctalk-print.css" rel="stylesheet" type="text/css"
 *     media="print">
 *
 * Author: Bert Bos
 * Created: 14 Feb 2001
 * Version: $Id: w3ctalk-print.css,v 1.7 2002/09/18 18:37:37 bbos Exp $
 * Modified by Martin Dürst 2005/04/16, 2006/05/22,...
 */
@page {
  margin: 1.5cm;
}

p, pre, ol, ul, li, dl, dt, dd,
table, tr, td, th, caption, tbody, h2, h3
  { page-break-inside: avoid;
    page-break-before: avoid; }
    
a:link, a:visited, a:hover, a:active { color: black; background-color: white; }

html {
  margin: 0;
}
body {
  background: white;
  color: black;
  font: 10pt sans-serif;
  /* margin: 0 0 0 90px;  /* Room for logo */
}
h1 {
  page-break-before: auto;
  page-break-inside: avoid;
  padding-bottom: 0;
  /* border-bottom: thin solid; */
  padding-top: 1em;
  margin-top: 0;
  clear: both;
  border-top: 1px solid black;
}
h1:first-child { page-break-before: auto; }

table   { border-collapse: collapse; margin-bottom: 6pt; }
th, td { border: 2px solid black; }

li p { /* p inside li */
    margin: 0;
}

/* from W3C mail stylesheet, makes pre wrap */
pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+; makes the CSS invalid :( */
 }

p.letterhead {			/* For logo in upper left corner */
  display: none; /* otherwise, takes a lot of space on the left side */
  /* position: absolute /* fixed */;
  /* left: 0 /* 1.5cm */;
  /* top: 0 /* 1.5cm */;
  /* width: 100%;
  margin: 0; */
}
p.signature {			/* For name of author */
  text-align: center;
  /* display: none; */
}

.slidesonly { display: none; }

div.comment {
  display: none;
  /*font: 10pt/1.2 sans-serif;
  padding: 1em;
  border: thin dotted;
  margin: 3em 0;
  text-align: justify;
  clear: both;
  column-count: 2;
  /*column-gap: 2em;*/
}
/*div.comment p + p {
  text-indent: 1em;
}
div.comment p {
  margin: 0;
}
div.comment h2, div.comment h3 {
  font-size: 100%
} */
img {
  border: none;
}

.reveal { visibility: hidden; }
