/* Style for the all.htm file; to be used in "projection" mode
 *
 * Author: Bert Bos
 * Created: 11 Sep 2000
 * Version: $Id: w3ctalk-proj.css,v 1.6 2003/09/02 17:39:00 bbos Exp $
 *
 * For this style to work in projection mode, add the following
 * link to the all.htm file:
 *
 *   <link href="../../stylesheets/slide-screen.css" rel="stylesheet" type="text/css"
 *     media="screen">
 *
 * and this immediately after the first H1. (Adjust as appropriate!)
 *
 *   <p class="letterhead"><a href="http://www.aoyama.ac.jp/"><img alt="AGU"
 *      src="../../stylesheets/aoyamalogo.jpg" border='0' /></a></p
 *
 *   <p class="signature"><a href="mailto:duerst@it.aoyama.ac.jp">Martin Dürst</a></p>
 *
 */

/* Basic style for presentations is slide-1024 */
@import url(slide-1024.css);
/* common style for slides */
@import url(slide-common.css);

/* Additional style for projection mode, to use page breaks */
html { margin: 0; padding: 0 }
body { padding: 0; /* margin: 0 */ }
h1 { page-break-before: always; margin-left: 0; padding-top: 50px;
  text-indent: 100px; min-height: 50px;
  font-size: 120%; /*border-bottom: thick solid #0c479d;*/ padding-bottom: 0.2em }
h1:first-child { page-break-before: auto; }
/*
h1:after { content: counter(h1); counter-increment: h1;
  color: red; font-size: 45%;
  position: absolute; bottom: 4px; right: 4%; height: 1em; width: 3em;
  text-align: right; line-height: 1; margin: 0; padding: 0 }
*/

table   { border-collapse: collapse }
th, td { border: 2px solid black; }

p.letterhead { position: fixed; left: 4%; top: 30px; width: 96%; margin: 0 }
p.signature { position: fixed; bottom: 4px; left: 4%; width: 92%;
  height: 1em; margin: 0;
  font-size: 54%; line-height: 1; color: #999 }

h1:after { /* content: counter(h1); counter-increment: h1; */
           /* if counter is attached to fixed element, it stays at 1 */
           /* we would need an element to attach it to, but that's too much overhead */
  color: red; font-size: 45%;
  position: absolute; bottom: 4px; right: 100px; height: 1em; width: 3em;
  text-align: right; line-height: 1; margin: 0; padding: 0 }

.note { /* for audience, but not on slides */
  display: none;
}

.reveal { color: #EEE; background-color: #EEE; }
